figure {
    display: inline-block;
    padding: 10px;
    background-color: #FFF;
    /*margin: 3%;*/
}

/*figure img{
    width: 200px;
    border-radius: 2px;
}*/

.square img {
    width: 300px;
    height: 300px;
    border-radius: 2px;
}

/*#img-container {
    width: 200px;
}*/

figcaption {
    font-weight: 300;
    text-align: center;
    margin-top:  5px;
}

figcaption a, figcaption a:hover, figcaption a:link, figcaption a:visited {
    text-decoration: none;
    color: #333;
}


/*.square:hover {
    box-shadow: 2px 2px 6px #555;

    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);  

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -counter-resetms-transition: all 1s ease;
    transition: all 1s ease;
}*/

.portfolio {
    text-align: center;
    margin-top: 0px; 
}


/*.row {
    text-align: center;
}*/



.col-pic {
    float: left;
    width: 30%;
    height: 75px;
    margin: 10px;
}

.element {
    overflow: hidden;
    background: white;
    border-top: 1px solid black;
    width: 320px;
}

.element p {
    margin-top: 5%;
    font-size: 14px;
}

.col-pic {
    opacity: 0.7;
}

.col-pic:hover {
    opacity: 1;
}

.carousel-inner .item img, .carousel-inner .item a img {
    display: block;
    height: 500px;
    width: 540px;
    line-height: 1;
}

.carousel-caption {

    font-size: 14px;
    position: fixed;
    bottom: 35px;
    left: 500px;
}

.portfolio-img {
    padding-bottom: 20px;
}

/*portfolio img thing*/
.row {
    margin-left: 40px;
    margin-right: -40px;
}

@media screen and (max-width: 5055px) and (min-width: 2051px) {
    body { font-size: 30px; }
    .square img { 
        width: 550px; 
        height: 550px;
    }
    .element {
        width: 570px;
    }
    .element p {
        font-size:  17px;
    }
    .row {
        margin-left: 150px;
        margin-right: -150px;
    }
}

@media screen and (max-width: 2050px) and (min-width: 1500px) {
    /*body { font-size: 12px; }
    .dropdown a {font-size: 18px; }
    .inner-content p {font-size: 14px; }*/
     .square img { 
        width: 450px; 
        height: 450px;
    }
     .element {
        width: 470px;
    }
    
    .element p {
        font-size:  16px;
    }
    .row {
        margin-left: 80px;
        margin-right: -100px;
    }
}

@media screen and (max-width: 1450px) and (min-width: 700px){

}

@media screen and (max-width: 699px) and (min-width: 500px){
    
}

@media screen and (max-width: 499px) {
    
}


