
body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    background-image: url("../img/background.img");
}


.navbar {
    background-color: #052F6D;
    border-radius: 10px;
    top: 0;
    position: fixed;
    opacity: 0.75;
    width: 100%;
    text-align: right;
}

nav li {
    display: inline-block;
    list-style: none;
    text-align: right;
    font-size: 25px;
    padding: 5px;
    padding-top: 10px;
}

nav a:visited,
nav a:link,
nav a:hover {
    text-decoration: none;
    color: black;
}

nav li:hover {
    background-color: #0F4DA8;
}

.logo {
    float: right;
}

.container{
    padding: 10px;
}

.row-left{
    text-align: left;
}
