@import url(http://fonts.googleapis.com/css?family=Lusitana:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat+Subrayada);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
body {
    background-image: url(../img/notebook.png);
    font-family: 'Open Sans', sans-serif;
<<<<<<< HEAD
    font-size: 18px;
=======
    /*font-size: 18px;
    font-weight: bold;*/
>>>>>>> eab135d27c6c2d441dfcc49318b2e2bcb9abee6e
}


.page-header {
    font-family: 'Roboto Slab';
    font-size: 50px;
    text-align: center;
    margin-top: 30%;
}

@media handheld {
  .logo-2 { visibility: hidden; }
}

.border-top {
background-color: #052F6D;
height: 120px;
top: 50%;
 margin-top: -50px;

}

.logo-2 {
    width: 150px;
    height: 150px;
    position: relative;
    top: 50%;
    left: 50%;
  margin-top: -50px;
  margin-left: -100px;
    border-radius: 40px;
    border: #052F6D solid 2px;
}


.navbar {
    background-color: black;
    border-radius: 10px;
    top: 0;
    opacity: 0.8;
    height: 4em;
    margin: 0 auto;
}

.col-md-8 {
    top: 75px;
    border: black solid 4px;
    padding: 0px;
}

.text-box {
    position: absolute;
    bottom: 80%;
    left: 30%;
    color: white;
    background-color: black;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.col-md-4 {
    top: 75px;
    background-color: white;
    padding: 19px;
}

.bottom {
    margin-top: 5px;
}

.main-img {
    position: relative;
    width: 100%;
    opacity: 0.8;
}

.navbar-brand {
    font-size: 20px;
    line-height: 2em;
    float: right;
}
nav li{
    display: inline-block;
}
nav a:visited,
nav a:link,
nav a:hover, 
{
    text-decoration: none;
    color: black;
}

nav li:hover {
    background-color: #0F4DA8;
}

.container {
    text-align: right;
}

.logo {
    float: left;
    position: absolute;
    left: 0px;
    height: 4em;
    width: 6em;
    border-radius: 5px;
}

.row-left{
    text-align: left;
}

.row-contact{
    margin-top: 5em;
}

.contact-img{
height: 600px;
width: 600px;

}

.main-picture {

}

.forum{
    position: relative;
}

.ryan-pic{
    height: 200px;
    width: 200px;
}

.cont-page-img{
    height: 400px;
    width: 600px;

}

.contact-info{
    color: #052F6D;
    font-size: 18px;

}

.contact-container{
   background-image: url(../img/notebook.png);
}

#bio-container {
    margin: 0 auto;
    padding: 40px 20px 40px 20px;
    width: 980px;
}

.img-responsive {
    width: 980px;
    height: 585px;
}

.input-head{
    font-family: 'Lusitana', sans-serif;
    font-size: 16px;
}

nav ul{
        background-color: black;
        width: 100%;
        margin: 0 auto;
        height: 4em;
        border-radius: 5px;

    }

nav li{
    display: inline-block;
    text-align: right;
    

}

nav a{
    display: inline-block;
    padding: 10px;
    color: #FFF;
    font-weight: bold;
    font-size: 110%;
    text-align: right;


}

nav a:link,
nav a:visited {
    text-decoration: none;
}

nav a:hover{
    background-color: grey;
    border-radius: 5px;
    margin: 0 auto;
}

.nav-links{
    text-align: right;

    width: 100%;
}