@import url(http://fonts.googleapis.com/css?family=Lusitana:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat+Subrayada);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
body {
    background-image: url(../img/notebook.png);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}


.page-header {
    font-family: 'Roboto Slab';
    font-size: 50px;
    text-align: center;
    margin-top: 30%;
}

.border-top {
background-color: #052F6D;
height: 120px;
top: 50%;
 margin-top: -50px;

}

.logo-2 {
    width: 150px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
  margin-top: -50px;
  margin-left: -100px;
    border-radius: 40px;
    border: #052F6D solid 2px;
}

.col-md-12 {
    border: black solid 4px;
    margin: 0px;
}

.text-box {
    position: absolute;
    z-index: 999;
    color: #FFF;
    bottom: 85%;
    background-color: rgba(0,0,0,.5);
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.text-form {

    color: #FFF;
    background-color: rgba(0,0,0,.3);
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
}

.left {
    background-color: white;
}

.right {
    background-color: black;
}

.main-img {
    opacity: 0.8;
}

.navbar-brand {
    font-size: 20px;
    line-height: 2em;
}

nav li{
    display: inline-block;
}
nav a:visited,
nav a:link,
nav a:hover, 
{
    text-decoration: none;
    color: black;
}

nav li:hover {
    background-color: #0F4DA8;
}

.container {
    text-align: right;
}

.logo {
    float: left;
    position: absolute;
    left: 0px;
    height: 4em;
    width: 6em;
    border-radius: 5px;
}

.row-left{
    text-align: left;
}



.contact-img{
height: 600px;
width: 600px;

}

.forum{
    position: relative;
}

.ryan-pic{
    height: 200px;
    width: 200px;
}

.cont-page-img{
    height: 400px;
    width: 600px;

}

.contact-info{
    color: #052F6D;
    font-size: 18px;

}

.contact-container{
   background-image: url(../img/notebook.png);
}

#bio-container {
    margin: 0 auto;
    padding: 40px 20px 40px 20px;
    width: 980px;
}


.input-head{
    font-family: 'Lusitana', sans-serif;
    font-size: 16px;
}

nav li{
    display: inline-block;
    font-size: 18px;
}

nav a{
    display: inline-block;
    padding: 10px;
    color: #FFF;
    font-weight: bold;
    font-size: 110%;
    text-align: right;


}

nav a:link,
nav a:visited {
    text-decoration: none;
}

nav a:hover{
    background-color: grey;
    border-radius: 5px;
    margin: 0 auto;
}

.nav-links{
    text-align: right;

    width: 100%;
}